body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.eachSeat {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
}

.seatGrid {
  /*width: 900px;*/
}

.seat {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
  box-sizing: border-box;
  background-color: #3147FF;
  color: white;
}

.seatbox {
  width: 900px;
  margin: 0 auto;
}
