@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*font-family: 'Open Sans', sans-serif;*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

nav {
  margin: 33px 0;
  font-size: 23px;
}

nav a {
  padding: 13px;
  color: black;
}

form {
  font-size: 18px;
}

form input {
  margin: 0px 10px 33px 10px;
}

header {
  background-image: url("https://i.imgur.com/NIbMV07.png");
  /*width: 80%;*/
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 19%;
}

.submit-button {
  font-size: 16px;
}

.eachSeat {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
}

.seatGrid {
  /*width: 900px;*/
  margin: auto;
}

.plane-gallery {
  font-size: 16px;
}

.seat {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
}

.seatbox {
  width: 900px;
  margin: 0 auto;
}
